@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
    font-family: 'Poppins','Courier New', Courier, monospace;
}


.animation-card{
    transform: translateX(100px);
    opacity: 0;
   transition: 500ms;
}

.animation-card.show{
    transform: translateX(0);
    opacity: 1;
}


