body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
}

*{
    box-sizing: border-box;
}


#form-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
}

.select-fieldset{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 20px
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


button{
    margin: 10px 0;
}

